<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css" />
    <title>Document</title>
</head>
<body>
    {% if text == ""%}
    <form action="/upload" method="post">
        <input type="file" name="data" id="file" accept=".wav, .mp3" onchange="handleFiles(this.files)">
        <input type="text" id="text">
        <input type="submit" name="send" id="" value="提交" onclick="click()">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
    <script>
        Dropzone.options.myDropzone={
            init:function({
                this.on("success",function(file,response){
                    console.log(response.filePath)
                    console.log(response.fileName)
                })
            })
        }
    </script>
    {% else %}
    <p>Hello,{{text}}</p>
    {% endif%}
    <!-- {{user_template}} love Flask -->
</body>
</html>

