<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!--因為是flask所以要寫成這樣 <link>是對於寫css <script>是對於js-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Document</title>
</head>

<body>
    {% if text == ""%}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar scroll</a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Link
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Link</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="div1">
        <form id="form" action="/upload" method="post">
            <input type="file" name="data" id="data" accept=".wav, .mp3" value="">
            <!-- <input type="text" id="text"> -->
            <input type="submit" name="send" id="send" value="提交">
        </form>
        <p>以下是您所產生的摘要重點:</p>
        <img src="{{ url_for('static', filename='pict.png')}}" id="rotate" alt="" class="img_rotate" width="200"
            height="200">
        <p id="answer"></p>
    </div>
    <script>
        document.getElementById('rotate').style.visibility = "hidden"
        var filevalue = document.getElementById('data');
        var file
        filevalue.addEventListener("change", function (event) {
            const fileInput = document.getElementById("data");
            file = event.target.files[0];
            console.log("文件路徑:", file.name);
        })
        $(document).ready(function () {
            $('#form').submit(function (e) {
                e.preventDefault();
                document.getElementById('rotate').style.visibility = "visible"
                var send = document.getElementById('send').value
                var answer = document.getElementById('answer')
                console.log(file.name)
                console.log(send)
                $.ajax({
                    url: "/upload", /*data要傳送的地方url*/
                    type: "POST",  /*通常會用POST*/
                    data: {
                        send: send,
                        data: file.name,
                    },  /*傳送的值（json格式），從輸入的地方得到*/
                    dataType: "json", /*預計從server回傳的格式*/
                    // contentType: 'application/json', /*傳給server的格式*/
                    /*result为後端函数回傳的json*/
                    success: function (data) {
                        $('#answer').text(data['answer'])
                        document.getElementById('rotate').style.display = "none"
                        console.log(data)
                    }
                });
            })
        });


    </script>
    <!-- {% else %}
    <p>{{text}}</p>
    {% endif%}  -->
    <!-- {{user_template}} love Flask -->
</body>

</html>