<!-- 首頁 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會議紀錄摘要首頁</title>
</head>

<body>
    <h1>請選擇功能進行摘要</h1>
    <div>
        <button type="button" class="btn btn-secondary" id="rec1"
            onclick="window.location.href='recording'">即時錄音</button>
        <button type="button" class="btn btn-secondary" id="rec2"
            onclick="window.location.href='upload_select'">選擇錄音</button>
    </div>
</body>

</html>