<!-- 首頁 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='StylesIndex.css') }}">
    <title>會議紀錄摘要首頁</title>
</head>

<body class="bg-light">
    <div class="container py-5">
        <h1 class="display-4 text-center mb-5">請選擇功能進行摘要</h1>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button type="button" class=" btn btn-primary btn-lg btn-block my-3" id="rec1"
                    onclick="window.location.href='recording'">即時錄音</button>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-secondary btn-lg btn-block my-3" id=" rec2"
                    onclick="window.location.href='upload_select'">上傳錄音</button>
            </div>
        </div>
    </div>
</body>

</html>